[Unit]
Description=Nginx Exporter Service
After=network-online.target
Wants=network-online.target
  
[Service]
User=nginx-exporter
Group=nginx-exporter
Type=simple
ExecStart=/usr/local/bin/nginx-prometheus-exporter -nginx.scrape-uri http://{{ nginx_ip }}:{{ nginx_port }}/stub_status
Restart=Always
StartLimitBurst=0
RestartSec=600
 
[Install]
WantedBy=multi-user.target
After=network-online.target
Wants=network-online.target
